@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Monoton&display=swap');

*{
  margin: 0;
  padding: 0;
}
ul,li{list-style: none;}
:root{
  --facebook: #3b5998;
  --shadow: 5px 5px 5px rgba(177, 177, 177, 0.5);
}
.button{
  background-color: yellow;
  color: var(--facebook);
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: var(--shadow);
}
.button--small{
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.button--big{
  padding: 1rem 2rem;
  font-size: 1.5rem;
}


body{
  background-color: var(--facebook);
}
h1{
  width: 100%;
  margin: 5rem 0 0;
  font-family: 'Monoton', cursive;
  font-size: 5rem;
  text-align: center;
  color: yellow;
  text-shadow: var(--shadow);
}
.wrap-all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}
.play-time{
  font-size: 2rem;
  margin-top: 2rem;
  color: yellow;
}
.image-container{
  width: 400px;
  height: 400px;
  margin-top: 1rem;
  border: 2px solid yellow;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: rgba(0,0,0,0);
}
.image-container.cheat{
  color: yellow;
}
.select-size{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-size button{
  margin: 0 1rem;
}
.list{
  width: 100px;
  height: 100px;
}

.game-text{
  position: absolute;
  font-size: 45px;
  color: #67c23a;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  font-family: 'Carter One', cursive;
  display: none;
}